<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702696279934-hn6da7bh4um2ldpelgoj23amn0g6d1nq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702696279934-hn6da7bh4um2ldpelgoj23amn0g6d1nq</string>
	<key>API_KEY</key>
	<string>AIzaSyD53Ny1V5ml2HqlRZfSjH0aP7e9zjxZo7k</string>
	<key>GCM_SENDER_ID</key>
	<string>702696279934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fresher.assignment.E2EE</string>
	<key>PROJECT_ID</key>
	<string>e2ee-messenger-7e6c5</string>
	<key>STORAGE_BUCKET</key>
	<string>e2ee-messenger-7e6c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702696279934:ios:362d9b5dd1d5257540ed2f</string>
	<key>DATABASE_URL</key>
	<string>https://e2ee-messenger-7e6c5.firebaseio.com</string>
</dict>
</plist>